@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --mainRed: #DD1A1A;
  --secondaryRed: #D93F3F;
  --borderBlack: #0C0C0C;
  --mainWhite: #E5E5E5;
  --letter: #302F2F;
}

body {
  background-color: var(--mainWhite);
}

li {
  list-style: none;
}

.login-container {
  /* border: 1px solid rgb(255, 0, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.login-img-container {
  /* border: 1px solid; */
  box-sizing: border-box;
  background-image: url(./assets/images/head-intro.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 80px auto;
  width: 555px;
  height: 100px;
}

.login-container h1 {
  color: #FE1936;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.login-container p {
  color: var(--letter);
  font-size: 1.70rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.input-container {
  /* border: 1px solid; */
  width: 70%;
  height: 100px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.input-container input {
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  padding: 25px;
  width: 45%;
  font-size: 24px ;
}

.input-container input::placeholder {
  color: #D3D3D3;
}


.input-container button {
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 25px;
  width: 25%;
  font-size: 24px;
  background-color: var(--secondaryRed);
  color: var(--mainWhite);
  cursor: pointer;
  transition: all ease 100ms;
}

.input-container button:hover {
  color: #fff;
  background-color: var(--mainRed);
}

.input-container button:active {
  transform: translateY(2px);
}

.footer-login {
  /* border: 1px solid; */
  background-color: var(--mainRed);
  width: 100%;
  height: 130px;
  display: flex;
  position: absolute;
  bottom: 0;
}

.black-container {
  /* border: 1px solid white; */
  background-color: #0C0C0C;
  width: 100%;
  height: 55px;
  display: flex;
  align-self: flex-end;
  position: relative;
}

.black-circle {
  border: 10px solid #000;
  border-radius: 50%;
  background-color: var(--mainWhite);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  margin-top: -45px;
}

.little-black-circle {
  border: 10px solid #000;
  border-radius: 50%;
  background-color: #302F2F;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  position: absolute;
}